(tiles:((Ground,Ground,Ground,Ground,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air)))