(tiles:((Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Ground,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air),(Air,Air,Air,Air,Air,Air,Air,Air,Air,Air)))
