(
    tiles: (
        cols: 12,
        data: [
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
        ],
        order: RowMajor,
    ),
    player_spanwers: [
        (
            transform: (
                translation: (152.0, 104.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
    ],
    word_tags: [],
    lock_zones: [],
    fans: [],
    death_zones: [],
)
