(
    tiles: (
        cols: 12,
        data: [
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
            G,
            G,
            G,
            G,
            G,
            A,
            A,
            A,
            A,
            A,
            A,
            A,
        ],
        order: RowMajor,
    ),
    player_spanwers: [
        (
            transform: (
                translation: (152.0, 104.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
    ],
    word_tags: [
        (
            word_id: Horse,
            transform: (
                translation: (280.0, 80.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            word_id: Wide,
            transform: (
                translation: (24.0, 80.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            word_id: Fast,
            transform: (
                translation: (24.0, 120.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
    ],
    lock_zones: [],
    fans: [
        (
            strength: 1.8,
            translation: (64.0, 48.0),
            scale: (1.0, 1.0),
            rotation: -0.0,
        ),
    ],
    death_zones: [
        (
            transform: (
                translation: (192.0, 16.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            transform: (
                translation: (208.0, 16.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            transform: (
                translation: (224.0, 16.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
        (
            transform: (
                translation: (240.0, 16.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
        ),
    ],
)